{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Mes Commentaires
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur la page d'affichage des commentaires de l'utilisateur. La société Ride-Location vous propose des locations de voitures en click en collect. Cette sociétéé est détenu pas Monsieur Dwayne Johnson. Nous avons plusieurs agences en France.Venez faire un tour sur notre site, on a ce qu'il vous faut.">
{% endblock %}


{% block main %}
	<main class="my-3">
		{% for message in app.flashes('success') %}
			<div class="alert text-center alert-success alert-dismissible fade show my-3" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}


		<h1 class="text-center my-3 display-5">Mes Commentaires :
			{{app.user.firstName}}
			{{app.user.lastName}}</h1>

		<div class="container my-5">

			{% if comments is empty %}
				<p class="text-center mt-5">Aucun Commentaire pour l'instant</p>
			{% else %}
				<div class="my-2 d-flex flex-column justify-content-center align-items-center">
					{% for comment in comments %}
						<div data-aos="fade-up" data-aos-duration="1500" class="shadow w-100 h-100 card mb-3" style="max-width: 740px;">
							<div class="row g-0">
								<div class="col-md-4">
									{% if comment.vehicle %}
										<img src="{{ vich_uploader_asset(comment.vehicle, 'imageFile')}}" class="w-100 h-100 rounded" alt="{{ comment.vehicle.name }}">
									{% else %}
										<img src="{{ vich_uploader_asset(comment.agency, 'imageFile')}}" class="w-100 h-100 rounded" alt="{{ comment.agency.name }}">
									{% endif %}
								</div>
								<div class="col-md-8">
									<div class="card-body">
										{% if comment.vehicle %}
											<h5 class="card-title">
												{{comment.vehicle.name |u.truncate(70, '...')|raw}}</h5>
										{% else %}
											<h5 class="card-title">
												{{comment.agency.name |u.truncate(70, '...')|raw}}</h5>
										{% endif %}
										<p class="card-text">
											{{comment.content |striptags|u.truncate(70, '...')|raw}}
										</p>
										<p>
											<div class=" my-2 d-flex justify-content-between">
												<a href="{{path('user.comment.show', {'id' : comment.id})}}" class="btn btn-primary">Détails</a>
												<a href="{{path('user.comment.edit',{'id': comment.id})}}" class="btn btn-secondary">Modifier</a>
												<a href="#" class="btn btn-danger" onclick="event.preventDefault(); return confirm('Voulez vous vraiment supprimer ce commentaire?') && document.querySelector('#form_delete_comment_{{comment.id}}').submit()" title="Supprimer">Supprimer</a>
												<form method="POST" id="form_delete_comment_{{comment.id}}" action="{{path('user.comment.delete', {'id':comment.id})}}">
													<input type="hidden" name="csrf_token" value="{{csrf_token('delete_comment_'~comment.id)}}">
													<input type="hidden" name="_method" value="delete">
												</form>

											</div>
										</p>
										<p class="card-text">
											<small>Publié
												{{comment.createdAt|ago}}</small>
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr>
					{% endfor %}

					{# display navigation #}
					<div class="mt-2">
						{{ knp_pagination_render(comments) }}
					</div>
				</div>

			{% endif %}


		</div>
	</main>


{% endblock %}
