{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Nos Vehicules
{% endblock %}

{% block main %}
	<main>
		<h1 class="text-center my-3 display-5">Nos Vehicules</h1>
		<div class="container mt-3">
			<div class="row text-center">
				<div class="dropdown-center text-center my-5">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						-- Selectioner une Agence --
					</button>
					<ul class="dropdown-menu">
						{% if agencies is empty %}
							<li>
								<a class="dropdown-item" href="#">Aucune Agence</a>
							</li>
						{% else %}
							{% for agency in agencies %}
								{% if agency is not empty %}
									<li>
										<a class="dropdown-item" href="#">{{agency.name}}</a>
									</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					</ul>
				</div>

				{% if vehicles is empty %}
					<p class="text-center mt-5">Aucun vehicule pour l'instant</p>
				{% else %}
					<div class="my-5 d-flex flex-column justify-content-center align-items-center">
						{% for vehicle in vehicles %}
							<div data-aos="fade-up" data-aos-duration="1500" class="shadow w-100 card mb-3" style="max-width: 740px;">
								<div class="row g-0">
									<div class="col-md-4">
										{% if vehicle.image %}
											<img src="{{ vich_uploader_asset(vehicle, 'imageFile') | imagine_filter('admin_vehicle_thumbnail') }}" class="w-100 h-100 rounded" alt="{{ vehicle.name }}">
										{% else %}
											<img src="{{asset('images/vehicles/no_image.jpg')}}" class="w-100 h-100 rounded" alt="{{vehicle.name}}">
										{% endif %}
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{vehicle.name}}</h5>
											<p class="card-text">{{vehicle.description|striptags|u.truncate(70, '...')|raw}}</p>
											<p>
												<a href="{{path('user.vehicle.show', {'id' : vehicle.id})}}" class="btn btn-primary">Details</a>
											</p>
										</div>
									</div>
								</div>
							</div>
							<hr>
						{% endfor %}
						{# display navigation #}
						{# <div class="mt-2">
																																											{{ knp_pagination_render(posts) }}
																																										</div> #}
					</div>

				{% endif %}

			</div>
		</div>
	</main>

{% endblock %}
