{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Nos Agences
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur la page des agences de l'utilisateur. La société Ride-Location vous propose des locations de voitures en click en collect. Cette sociétéé est détenu pas Monsieur Dwayne Johnson. Nous avons plusieurs agences en France.Venez faire un tour sur notre site, on a ce qu'il vous faut.">
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Nos Agences</h1>
	<div class="container mt-5 d-flex justify-content-center">
		<div class="row">
			{% for agency in agencies %}
				<div class="col-md-6 mb-4 d-flex justify-content-center">
					<div class="card mb-3 border shadow w-75 h-100">
						<a href="{{path('user.agency.show', {'id' : agency.id})}}">
							<img src="{{ vich_uploader_asset(agency, 'imageFile') }}" class="card-img-top img-fluid" alt="{{ agency.name }}">
						</a>
						<div class="card-body">
							<h5 class="card-title">Nom de l'agence :
								{{ agency.name }}</h5>
							<p class="card-text">Description :
								{{ agency.description|striptags|u.truncate(70, '...')|raw }}</p>
							<p class="card-text">Adresse :
								{{ agency.address|striptags|u.truncate(70, '...')|raw }}
							</p>
							<p class="card-text">Ville :
								{{ agency.town|striptags|u.truncate(70, '...')|raw }}
							</p>
							<p class="card-text">CP :
								{{ agency.zipCode|striptags|u.truncate(70, '...')|raw }}
							</p>
							<p class="card-text">Numéro de Téléphone :
								{{ agency.phone|raw }}
							</p>
							<p>
								<a href="{{path('user.agency.show', {'id' : agency.id})}}" class="btn btn-primary">Details</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
			{# display navigation #}
			<div class="mt-2 d-flex justify-content-center">
				{{ knp_pagination_render(agencies) }}
			</div>
		</div>
	</div>

{% endblock %}
