{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Admin - Modifier Cette Agence
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Modifier Cette Agence</h1>
	<div class="container mt-5">
		<div class="col-md-6 mx-auto">
			{{ form_start(form) }}
			<div class="mb-3">
				<label for="">Nom :
				</label>
				<div class="text-danger">{{ form_errors(form.name) }}</div>
				{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				<label for="">Adresse :
				</label>
				<div class="text-danger">{{ form_errors(form.address) }}</div>
				{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="">Ville :
						</label>
						<div class="text-danger">{{ form_errors(form.town) }}</div>
						{{ form_widget(form.town, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="">Code Postal :
						</label>
						<div class="text-danger">{{ form_errors(form.zipCode) }}</div>
						{{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-6">
					<label for="">Image</label>
					<div class="text-danger">{{ form_errors(form.imageFile) }}</div>
					{{form_widget(form.imageFile, {'attr': {'class': 'form-control'}})}}
				</div>
				<div class="col-md-6">
					<div class="col-md-6">
						{% if agency.image %}
							<img src="{{ vich_uploader_asset(agency, 'imageFile') | imagine_filter('admin_vehicle_thumbnail')}}" alt="{{ agency.name }}">
						{% else %}
							<img src="{{asset('images/vehicles/no_image.jpg') | imagine_filter('admin_vehicle_thumbnail')}}" alt="{{ agency.name}}">
						{% endif %}
					</div>
				</div>

				<div class="mb-3">
					<label for="">Description</label>
					<div class="text-danger">{{ form_errors(form.description) }}</div>
					{{form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 10}})}}
				</div>
				<div class="mb-3">

					<div class="mb-3">
						<input formnovalidate type="submit" class="btn btn-secondary" value="Modifier">
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	{% endblock %}
