<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Ride-Location
			{% block title %}{% endblock %}
		</title>

		{# Favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('/favicon-16x16.png')}}">
		<link
		rel="manifest" href="/site.webmanifest">

		{# Font family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>


		{% block webpack_encore_stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block webpack_encore_javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block jQuery %}{% endblock %}

		{% block Database %}{% endblock %}

		{% block tinyMCE %}{% endblock %}
	</head>
	<body>
		{% include "layouts/navbar/navbar_admin.html.twig" %}
		<div class="container-fluid">
			<div class="row">
				{% include "layouts/sidebar/sidebar_admin.html.twig" %}
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> {% block main %}{% endblock %}
					</main>
				</div>
			</div>
			{% include "layouts/footer/footer_admin.html.twig" %}

			{% block javascripts %}{% endblock %}
		</body>
	</html>
