{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Détails de mes likes
{% endblock %}

{% block main %}
	<main>
		<main class=" my-3">
			<nav class="my-2" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('user.like.index')}}">Mes Likes</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Détails de Mes Likes
					</li>
				</ol>
			</nav>

			<h1 class="text-center my-3 display-5">Détails de Mes Likes
			</h1>
			<div class="container text-center">
				{% if like.vehicle %}
					<img src="{{ vich_uploader_asset(like.vehicle, 'imageFile')}}" class="w-50 h-50 rounded" alt="{{ like.vehicle.name }}">
				{% else %}
					<img src="{{ vich_uploader_asset(like.agency, 'imageFile')}}" class="w-50 h-50 rounded" alt="{{ like.agency.name }}">
				{% endif %}
				<div class="my-2">
					{% if like.vehicle %}
						<h5>
							{{like.vehicle.name}}</h5>
					{% else %}
						<h5>
							{{like.agency.name}}</h5>
					{% endif %}
					{% if like.vehicle %}
						<p class="card-text">
							{{like.vehicle.description|raw}}
						</p>
					{% else %}
						<p class="card-text">
							{{like.agency.description|raw}}
						</p>
					{% endif %}


				</div>


			</div>
		</main>

	{% endblock %}
